@tailwind base;
@tailwind components;
@tailwind utilities;

.CaruselFun{
    padding: 50px;
    height: 20%;
    width: 100%;
}

.Graficas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    
}